In [3]:
import os 
import pickle

import numpy as np
import pandas as pd

import umap
import umap.plot

In [10]:


in_file = "results/mnist_dense_results_101073879878206.pkl"
with open(in_file, "rb") as fp:
    data = pickle.load(fp)
    
print("cpu:", data["cpu"]["brand_raw"])
print("physical_cores: {}".format(data["physical_cores"]))
print("logical_cores: {}".format(data["logical_cores"]))
print("#trials:", len(data["trials"]))

trials = data["trials"]
print(trials[0])

df = pd.DataFrame.from_records(trials)
df

cpu: Intel(R) Xeon(R) CPU E5-1620 v3 @ 3.50GHz
physical_cores: 4
logical_cores: 8
#trials: 604
{'n_literals': 619, 'n_examples': 25531, 'n_clauses': 14260, 'n_cbs': 8, 'n_jobs': 5, 'time': 28.558366453995404, 'train_accuracy': 0.8891543613646156}

,n_literals,n_examples,n_clauses,n_cbs,n_jobs,time,train_accuracy
0,619,25531,14260,8,5,28.558366,0.889154
1,515,80920,12210,44,24,53.682490,0.913235
2,1304,12045,11212,30,14,16.684513,0.859610
3,731,139968,3723,37,17,43.425057,0.944216
4,898,81713,11935,27,11,78.028511,0.924272
...,...,...,...,...,...,...,...
599,514,60363,442,21,17,8.236606,0.853089
600,695,57677,12078,3,3,60.301416,0.919257
601,687,53936,8604,18,6,25.264126,0.919497
602,1328,57713,8054,1,1,124.460011,0.923327
603,657,81719,7464,24,9,27.862155,0.931705

In [33]:

from sklearn import linear_model
from sklearn import svm

sv = svm.SVR()
ols = linear_model.LinearRegression()
ridge = linear_model.Ridge(alpha=0.1)
enet = linear_model.ElasticNet(random_state=0)


# TODO: normalize the dataset (also try to put in #ta = n_clause * n_literals * 2 as a feature)

for reg, name in [(ols, "OLS"), (ridge, "Ridge"), (enet, "enet"), (sv, "svm")]:
    xs = df[["n_literals", "n_examples",	"n_clauses", "n_cbs", "n_jobs"]]
    y = df["time"]
    reg.fit(xs, y)
    print("{}: {:.3f}".format(name, reg.score(xs,y)))

OLS: 0.658
Ridge: 0.658
enet: 0.658
svm: 0.147